<%= form_with(model: @book, local: true) do |f| %>
  <div class="mb-3">
    <%= f.label :title, class: "logg form-label" %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="mb-3">
    <%= f.label :author, class: "logg form-label" %>
    <%= f.text_field :author, class: 'form-control' %>
  </div>
  <div class="mb-3">
    <%= f.label :description, class: "logg form-label" %>
    <%= f.text_field :description, class: 'form-control' %>
  </div><br>

  <%= f.submit yield(:button_text), class: "btn-sm btn-primary" %>
<% end %>