<div class="container">
  <h2><strong>Book Details</strong></h2>
  <p><strong>Title:</strong><%= @book.title %><p>
  <p><strong>Author:</strong> <%= @book.author %></p>
  <p><strong>Description:</strong> <%= @book.description %></p>

  <% if admin? %>
    <button><%= link_to "Edit book", edit_book_path(@book), class: "btn-primary" %></button> | 
    <button><%= link_to "Delete book", book_path(@book), method: :delete, class: "btn-primary" %></button>
  <% else %>
    <% value, path = show_book_status_on_button(@book) %>
    <button><%= link_to value, path, class: "btn-primary" %></button>
  <% end %>
  
  <button><%= link_to "Back", books_path, class: "btn-primary" %></button>
</div>