<div class="container">
  <p><strong>Title:</strong><%= @book.title %><p>
  <p><strong>Author:</strong> <%= @book.author %></p>
  <p><strong>Description:</strong> <%= @book.description %></p>
<div>

<% if admin? %>
  <%= link_to "Edit book", edit_book_path(@book), class: "btn-primary" %> | 
  <%= link_to "Delete book", book_path(@book), method: :delete, class: "btn-primary" %>
<% else %>
  <%= render 'request' %> |

  <%= render 'cancel' %>
 
<% end %>

|
<%= link_to "Back", books_path, class: "btn-primary" %>