<br><br>
<strong>Book approval requests</strong><br><br>
<%= form_with model: @book do |form| %>
  <div class="container">
    <%= form.label :status %><br>
    <%= form.select :status, ['pending', 'approved', 'rejected'], selected: 'pending' %>
  </div>
<%end%>
<div class="container">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Book ID</th>
        <th scope="col">Book Title</th>
        <th scope="col">User</th>
        <th scope="col">Date</th>
        <th scope="col">Want to approve?</th>
        <th scope="col">Want to reject?</th>
      </tr>
    </thead>
    <tbody>
      <% @book_collections.each do |request| %>
        <tr>
          <% if request.book.status == 'pending' %>
            <td><%= request.book.id %></td>
            <td><%= link_to request.book.title, book_path(request.book.id) %></td>
            <td><%= request.user.name %></td>
            <td><%= request.created_at %></td>
            <td><%= link_to "Approve", approved_book_path(request.book.id) %></td>
            <td><%= link_to "Reject", rejected_book_path(request.book.id) %></td>
          <% elsif request.book.status == 'approved' %>
            <td><%= request.book.id %></td>
            <td><%= link_to request.book.title, book_path(request.book.id) %></td>
            <td><%= request.user.name %></td>
            <td><%= request.created_at %></td>
            <td><%= link_to "Approve", "#" %></td>
            <td><%= link_to "Reject", "#" %></td>
          <% else %>
            <td><%= request.book.id %></td>
            <td><%= link_to request.book.title, book_path(request.book.id) %></td>
            <td><%= request.user.name %></td>
            <td><%= request.created_at %></td>
            <td><%= link_to "Approve", "#" %></td>
            <td><%= link_to "Reject", "#" %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div><br><br><br>
