<%= link_to "Check pending requests", book_collections_path %>
<h2>Approved Requests</h2>

<div class="container">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Book ID</th>
        <th scope="col">Book Title</th>
        <th scope="col">User</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>
      <% @book_collections.each do |request| %>
        <tr>
          <% if request.book.issue_request && request.book.status == "approved" %>
            <td><%= request.book.id %></td>
            <td><%= link_to request.book.title, book_path(request.book.id) %></td>
            <td><%= request.user.name %></td>
            <td><%= request.created_at %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>